html, body, .root
  width 100%
  height 100%
.full-size
  width 100%
  height 100%
.content-container
  height 100%
  display flex
  overflow auto
  justify-content center
  padding-left 48px
.content
  width 800px